{% extends "base.html" %}
{% block content %}
<form action="{% url "polls:vote" question.id %}" method="post">
  {% csrf_token %}
  <fieldset>
    <legend><h1>{{question.question_text}}</h1></legend>
    {% if error_message %}
    <p><strong>{{error_message}}</strong></p>
    {% endif %} {% for item in question.choice_set.all %}
    <p>
      <label>
        <input
          type="radio"
          name="choice"
          id="choice{{forloop.counter}}"
          value="{{item.id}}"
        />
        {{item.choice_text}}
      </label>
    </p>
    {% endfor %}
    <input type="submit" value="Vote" />
  </fieldset>
</form>
{% endblock content %}