<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polls</title>
</head>
<body>
    <h1>Polls</h1>
    <h3><a href="{% url "polls:index" %}">Bact to homepage</a></h3>
    <h2>{{question.question_text}}</h2>
    <ul>
        {% for item in question.choice_set.all %}
        <li>{{item.choice_text}}</li>
        <select name="choice" id="">
            <option value="{{item.choice_text}}">{{item.choice_text}}</option>
        </select>
        {% endfor %}
    </ul>
</body>
</html>