{% extends "base.html" %} {% block content %}
<div class="row">
  {% for item in data %}
  <div class="col-12 col-md-6 col-lg-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{item.city.cityName}}</h4>
        <p class="card-text">
          <strong>Temperature: </strong>{{item.temperature}} °C <br />
          <strong>Rainfall:</strong> {{item.rainfall}} mm <br />
          <strong>Location: </strong> {{item.location}} <br />
          <strong>Measure time: </strong> {{item.measureTime}}
        </p>
        <form action="{% url "weather:deleteMeasure" item.id%}" method="post">
          {% csrf_token %}
          <input type="submit" value="Delete" class="btn btn-primary" >
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
  <a href="{% url "weather:addPage" %}">Add new data</a>
</div>

{% endblock content %}
